

<p style="text-align: center;" ><button (click)="toggle()">change color</button></p>

<div id="design-cast" [class]="styling">
    <div class="member">
        <img  [src]="imgurl" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">maroon hawa
            <br />pro barber</div>
    </div>
    <div class="member">
        <img [src]="imgurl2" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">antwan helou
            <br />pro barber</div>
    </div>  
</div>