<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <span class="fs-4">Choose Genre</span>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <button (click)="changeToall()" class="nav-link link-dark" aria-current="page">
          all
        </button>
        <button (click)="changeTomachine()" class="nav-link link-dark" aria-current="page">
          machine
        </button>
      </li>
      <li>
        <button (click)="changeTomaterial()" class="nav-link link-dark">
          material
        </button>
      </li>
      <li>
        <button (click)="changeTohand()" class="nav-link link-dark">
          hand
        </button>
      </li>
    </ul>
  </div>
  