<style>
  .sbar {
    height: 100%;
    width: 140px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sbar a {
    margin-top: 50px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .sbar a:hover {
    color: #f1f1f1;
  }
  .main {
    margin-left: 140px;
    font-size: 28pxs;
    padding: 0px 10px;
  }

  </style>
  <body>
  <div class="sbar">
    <a href="https://www.youtube.com/">Youtube</a>
    <a href="https://w3schools.com/">W3schools</a>
    <a href="https://instagram.com/">Instagram</a>
    <a href="https://Twitter.com/">Twitter</a>
  </div>
